body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Lucida Grande", "Helvetica", sans-serif;
}

/* HEADER */
.site-header {
  flex: 0;
  padding: 4px 0;
  border-bottom: 2px solid #ccc;
  background-color: #eee;
}

.site-header > *:first-child {
  margin-left: 12px;
}

.site-header h1 {
  font-size: 24px;
}

/* CONTENT */
.content {
  padding: 4px 0;
  margin: 0 auto;
  max-width: 720px;
}

/* ROOM LIST */
.room-list {
  width: 100%;
  font-size: 18px;
}

.room-list th {
  text-align: left;
}

.room-list td {
  padding: 10px 0;
}

.room-list td button {
  font-size: 18px;
}

/* BOOKING MODAL */
#bookModalBG {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

#bookModal {
  padding: 10px;
  width: 40%;
  height: 60%;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#mdlHeader {
  font-size: 50px;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0;
}

#closeModal {
  position: absolute;
  background: none;
  font-size: 50px;
  border: none;
  right: 3%;
}

#mdlBody {
  position: absolute;
  left: 4%;
  width: 100%;
}

.rightMdl {
  position: absolute;
  right: 7%;
}

#mdlFooter {
  position: absolute;
  width: 100%;
  bottom: 5%;
  font-size: 16px;
  left: 4%;
}

#confirm {
  position: absolute;
  font-size: 16px;
  right: 7%;
  bottom: 5%;
}
